* {
  padding: 0;
  margin: 0;
}

html, body {
  background: rgba(0, 0, 0, 0);
}

#visualizer {
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
img {
    max-height: 700px;
  }

.controls{
  font-size: 4rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 5rem; */
  line-height: 1rem; /* vertically center the text */
  background-color: rgba(255, 255, 255, 0.47);
  
}
