* {
  padding: 0;
  margin: 0;
}

html, body {
  background: rgba(0, 0, 0, 0);
}

#visualizer {
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
img {
    max-height: 700px;
  }

.controls{
  font-size: 4rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6rem;
  line-height: 1rem; /* vertically center the text */
  background-color: rgba(255, 255, 255, 0.47);
  z-index: 3;
  
}

.table {
  background: rgba(255, 255, 255, 0.81);
}


.table-custom {
  display: block;
  max-height: 70vh;
  overflow-y: auto;
  width: 25vw;
}

.song-info {
  position: absolute;
  left: 6vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

/* sidebar */
/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
/* The side navigation menu */
.sidenav, .sidenav-right{
  height: 100%; /* 100% Full-height */
  width: 30vw; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: rgba(34, 34, 34, 0.23); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav {
  left: 0;
}

.sidenav-right {
  right: 0;
}

/* The navigation menu links */
.sidenav a, .sidenav-right a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav-right a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.playlist-button {
  font-size: 2rem;
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 52px;
  padding-left: 2vh;
}

.album-art {
  max-height: 70vh;
}